{% extends "layout.html" %}

{% block content %}

<h1> YA ESTAMOS EN EL TEMPLATE DE LOS AUTOMATAS </h1>

<div class = "automata">
    <!-- Referencia a la imagen -->
    <p>
        <form action = "", method = "POST">
            <input type = "submit" name = "AFNDtoAFD1" value = "AFND -> AFD"/>
        </form>
    </p>
    <form action = "", method = "POST">
        {{ inputs.inputString1 }}
        {{ inputs.submit }}
    </form>
    {% if output1 %}
    <p class = "output">
        {{ output1 }}
    </p>
    {% endif %}
</div>
<div>
    <form action = "", method = "POST">
        <input type = "submit" name = "complemento" value = "Complemento entre 1 y 2"/>
        <input type = "submit" name = "union" value = "Unión entre 1 y 2"/>
        <input type = "submit" name = "concatenacion" value = "Concatenación entre 1 y 2"/>
        <input type = "submit" name = "interseccion" value = "Intersección entre 1 y 2"/>
    </form>
</div>
<div class = "automata">
    <!-- Referencia a la imagen -->
    <p>
        <form action = "", method = "POST">
            <input type = "submit" name = "AFNDtoAFD2" value = "AFND -> AFD"/>
        </form>
    </p>
    <form action = "", method = "POST">
        <p>
            {{ inputs.inputString2 }}
            {{ inputs.submit }}
        </p> 
    </form>
    {% if output2 %}
    <p class = "output">
        {{ output2 }}  
    </p>
    {% endif %}
</div>

{% endblock %}