{% extends "layout.html" %}

{% block content %}

<div>
	<form action = "#", method = "POST">
		<p>
			cantidad de estados automata 1 : <br>
			{{ form.cantidad1 }} AFND : {{ form.tipo1 }}  / simbolos : {{form.simbolos1(value = "a,b,c") }}
		</p>
		<p>
			cantidad de estados automata 2 : <br>
			{{ form.cantidad2 }} AFND : {{ form.tipo2 }} / simbolos : {{ form.simbolos2(value = "0,1") }}
		</p>
		{% if message0 %}
		<p>
			{{ message0 }}
		</p>
		{% endif %}
		<p>
			{{ form.submit }}
		</p>
	</form>
	<form action = "", method = "POST">	
		<p>
			Transiciones automata 1 <br>
			{{ trans.origen1.label }} {{ trans.origen1 }} {{ trans.input1.label }} {{ trans.input1 }} {{ trans.destino1.label }} [{{ trans.destino1 }}]-> ¿Es final? {{ trans.final1 }}
		</p>
		<p>
			Transiciones automata 2 <br>
			{{ trans.origen2.label }} {{ trans.origen2 }} {{ trans.input2.label }} {{ trans.input2 }} {{ trans.destino2.label }} [{{ trans.destino2 }}]-> ¿Es final? {{ trans.final2 }}
		</p>
		{% if message1 %}
		<p>
			{{ message1 }}
		</p>
		{% endif %}
		{% if error1 %}
		<p>
			{{ error1 }}
		</p>
		{% endif %}
		{% if message2 %}
		<p>
			{{ message2 }}
		</p>
		{% endif %}
		{% if error2 %}
		<p>
			{{ error2 }}
		</p>
		{% endif %}
		<p>
			{{ trans.submit }}
		</p>
	</form>
	<form action = "", method = "POST">
		<input type = "submit" name = "crear" value = "Crear Automatas"/>
	</form>
</div>
{% endblock %}