{% extends "layout.html" %}
{% block content %}

<html>
  <div>
    <div class="logmod__container">
      <div class="logmod__wrapper">
        <div class="jumbotron">
          
            <h1 class="logmod__heading"><strong>Automatas AFD - AFND</strong></h1>
            <body style="text-align:justify">
              <p>Para ingresar los dos automatas, hay que tener en cuenta lo siguiente:</p>
              <ul>
                <li>Los estados se nombran automaticamente como q0,q1,q2,...,qn</li>
                <li>q0 es considerado automaticamente como estado inicial</li>
                <li><strong>Formato AFD para m estados de n entradas: { q0: {"1" : q0, ... , "n": qm}, ... , qm: {"1" : q0, ... , "n": qm} }</strong></li>
                <li><strong>Formato AFND para m estados de n entradas: : { q0: {"1" : {q0, ... , qm}}, ... , qm: {"n" : {q0, ... , qm}} }</strong></li>
                <li>Un Automata puede ser creado cuando aparezca el "✓" al costado derecho de sus transiciones</li>
                <li>Cuando ambos Automatas puedan ser creados el botón <input class="btn red" value = "Crear Automatas"/> se tornará verde</li>
                <li>Coloque la cantidad de estados, los simbolos y marque la casilla, si el automata es AFND</li>
                <img src="/static/gif/Captura_1.gif" width="500" height="281">
                <li>Cuando termine de completar, haga click en ingresar, y vaya a la pestaña de transiciones</li>
                <img src="/static/gif/Captura_2.gif" width="500" height="281">
              </ul>
            </body>
            <a class="btn blue-grey" href="/formulario" role="button">Comenzar</a>
        </div>
      </div>
    </div>
  </div>
</html>

{% endblock%}