{% extends "layout.html" %}
{% block content %}

<html>
  <div>
    <div class="logmod__container">
      <div class="logmod__wrapper">
        <div class="jumbotron">
          
            <h1 class="logmod__heading"><strong>Automatas AFD - AFND</strong></h1>
            <body style="text-align:justify">
              <p>Para ingresar los dos automatas, hay que tener en cuenta lo siguiente:</p>
              <ul>
                <li>Los estados se nombran automaticamente como q0,q1,q2,...,qn para el Automata 1</li>
                <li>Los estados se nombran automaticamente como p0,p1,p2,...,pn para el Automata 2</li>
                <li>q0 y p0 son considerados automaticamente como estados iniciales</li>
                <p></p>
                <li>Coloque la cantidad de estados, los simbolos y marque la casilla, si el automata es AFND</li>
                <img src="/static/gif/Captura_1.gif" width="550" height="240">
                <p></p>
                <li>Cuando termine de completar, haga click en ingresar, y baje hasta las transiciones</li>
                <img src="/static/gif/Captura_2.gif" width="550" height="265">
                <p></p>
                <li>Complete las transiciones, marque el estado que sea final y haga click en <input class="btn blue-grey" value = "Agregar transición"/></li>
                <img src="/static/gif/Captura_3.gif" width="550" height="358">
                <p></p>
                <li>Un Automata puede ser creado cuando aparezca el "✓" al costado derecho de sus transiciones</li>
                <li>Cuando ambos Automatas puedan ser creados el botón <input class="btn red" value = "Crear Automatas"/> se tornará verde</li>
                <li><strong>Importante: </strong></li>
                <p><strong>       - Formato AFD para m estados de n entradas: { q0: {'1' : q0, ... , 'n': qm}, ... , qm: {'1' : q0, ... , 'n': qm} }</strong></p>
                <p><strong>       - Formato AFND para m estados de n entradas: : { p0: {'1' : {p0, ... , pm}}, ... , pm: {'n' : {p0, ... , pm}} }</strong></p>
                
              </ul>
            </body>
            <a class="btn blue-grey" href="/formulario" role="button">Comenzar</a>
        </div>
      </div>
    </div>
  </div>
</html>

{% endblock%}