{% extends "layout.html" %} {% block content %}

<div class="logmod__wrapper">
	<div class="logmod__heading">
	<h1>Unión</h1>	
		<div class = "automata">
			<img src="data:image/png;base64,{{union|safe}}" alt="La unión entre los 2 automatas" height="420" />
			<p>
				<form action = "", method = "POST">
					<input Class="btn blue-grey" type = "submit" name = "AFNDtoAFDUnion" value = "AFND a su AFD mínimo"/>
				</form>
			</p>
			{% if message0 %}
			<div class = "alert {{ alerta }}", role="alert">
				{{ message0 }}
			</div>
			{% endif %}
			<p>
				<form action = "", method = "POST">
					{{ inputs.inputUnion }}
					{{ inputs.submit(Class="btn grey") }}
				</form>
			</p> 
		</div>
	
	
	</div>
	
</div>		

{% endblock %}